@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
/* styles browser */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/*styles Corpo da pagina*/
body {
  font-family: "roboto", sans-serif;
  font-size: 20px;
  background-color: #070818;
  color: #fff;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* Criar container de login */
.login-container {
  position: absolute;
  top: 5px;
  right: 1px;
  height: auto;
  width: 80px;
  color: #fff;
  cursor: pointer;
  display: flex;
}

header {
  max-width: 100%;
  background-image: url(./Imagens/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 300px 0;
  position: relative;
  border: 2px solid rgb(23, 21, 37);
}

/* menu de navegação*/
#menuIcon {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

#mainNav {
  margin: 0;
  padding: 0;
  width: 100%;
}

#mainNav li a {
  font-size: 25px;
}

#mainNav ul {
  list-style-type: none;
  padding: 0;
}

#mainNav li {
  display: inline-block;
  margin-right: 5px;
}

#mainNav li a,
#eventos a {
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#mainNav li a:hover {
  color: rgb(100, 146, 245);
}

/*-------*/

.procurar {
  width: 20%;
  position: relative;
  margin-top: -50px;
  right: 15px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.search-bar {
  height: 25px;
  padding: 10px;
  border: 1px solid #447ae6;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
  outline: none;
  flex-grow: 1;
}

.search-bar:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  /* Sombra sutil ao focar */
}

.search-btn {
  margin-top: 1px;
  background-color: #f8f9fa;
  height: 45.5px;
  padding: 0 10px;
  border: 1px solid #dfe1e5;
  border-left: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-btn:hover {
  background-color:#a6beec;
}

.conteudo {
  margin-top: 0;
  width: 100%;
  float: center;
  text-align: center;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* Aspect Ratio 16:9 (100%/16*9 = 56.25%) */
  height: 0;
  overflow: hidden;
  flex: 3;
}

.video iframe {
  position: absolute;
  top: 150px;
  left: 15px;
  width: 65%;
  height: 55%;
}
.video h2 {
  text-align: center;
}

.comentarios {
  flex: 1;
  margin-left: 20px;
  flex-direction: column;
  float: right;
}

.comentarios button {
  background-color: #f2f8f3;
}

#campoComentario {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

section {
  padding: 40px;
  margin-bottom: 20px;
}

.imagem-arredondada{
  border-radius: 50%;
}

.aulas {
  display: block;
  width: 100%;
}

div {
  display: inline-block;
  width: calc(30% - 16px);
  vertical-align: top;
}

div p img {
  display: block;
  width: 100%;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: auto;
  color: #ddd;
}

button.cadastrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  margin: 10px auto;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.cadastrar:hover {
  background-color: #175f27;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
  width: 450px;
}

.card a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #070818;
}

.label-float input {
  width: 320%;
  padding: 5px 5px;
  display: flex;
  border-bottom: 2px solid #070818;
  background-color: transparent;
  outline: none;
  min-width: 15px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-float {
  left: 5%;
  position: relative;
  display: flow-root;
  padding-top: 15px;
  margin-top: 10%;
  margin-bottom: 13%;
}

.cadastre-se {
  display: flex;
  justify-content: center;
  color: #000000;
}

.label-float input:focus {
  border-bottom: 2px solid #4038a0;
}

.label-float label {
  color: #070818;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 5px;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label {
  font-size: 13px;
  margin-top: 0;
  color: #070818;
}

.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #070818;
}

button {
  background-color: transparent;
  border-color: #ffffff;
  color: #070818;
  padding: 15px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: #2f3258;
}

.justify-center {
  display: flex;
  position: relative;
  left: 40%;
  bottom: 25px;
}

.fa-eye {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 350px;
  cursor: pointer;
  color: #070818;
}

#msgError {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
  width:80%
}

#msgSuccess {
  text-align: center;
  color: #00bb00;
  background-color: #bbffbe;
  padding: 10px;
  border-radius: 4px;
  display: none;
  width: 80%;
}

/* Estilo para o rodapé */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  clear: both;
  margin-top: 10%;
}

#contato {
  text-align: center;
}

/* Estilo para links no hover */
a:hover {
  text-decoration: none;
}

.social-buttons {
  width: 90%;
  display: inline;
}

.wrapper {
  position: relative;
  top: 30px;
  width: 100%;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 33%;
  border-radius: 20px;
  background: linear-gradient(to top, #070818, #ff7300);
  color: #fff;
  position: relative;
}

.wrapper .left img {
  position: relative;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 60%;
  top: 20px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 15px;
}

.Perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #070818;
  color: #fff;
  margin: 10px auto;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.wrapper .right {
  width: 66%;
  background: linear-gradient(to top, #1c1d24, #ffffff);
  border-radius: 20px;
}

.wrapper .right .info {
  margin-bottom: 40px;
}

.wrapper .right .projects {
  margin-bottom: 40px;
}

.wrapper .right .info h3 {
  margin-bottom: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #070818;
  color: #070818;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: top;
  display: flex;
}

.wrapper .right .projects h3 {
  margin-bottom: 15px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #070818;
  color: #070818;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: top;
  display: flex;
}

.wrapper .right .info_data {
  display: flex;
  position: relative;
  display: inline-block;
}

.wrapper .right .projects_data {
  display: flex;
  justify-content: space-around;
  display: inline-block;
}

#logado {
  color: #000000;
  width: 90%;
  margin-top: 1px;
  margin-inline-start: 1px;
  margin-bottom: 20px;
  margin-left: 0%;
  position: relative;
}

#email {
  color: #000000;
  width: 90%;
  margin-left: 0%;
}

.wrapper .right .info_data .data {
  width: 300px;
}

.wrapper .right .projects_data .data {
  width: 250px;
}

.wrapper .right .info_data .data h4 {
  color: #070818;
  margin-bottom: 1px;
  width: 100%;
}

.wrapper .right .projects_data .data h4 {
  color: #070818;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  font-style: unset;
  text-align: justify;
  margin-bottom: 10px;
  color: #070818;
  display: inline-block;
  cursor: pointer;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #070818, #ff7300);
  margin-right: 15px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

