* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: "roboto", sans-serif;
  background-color: #070818;
  color: #fff;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

header {
  width: 100%;
  height: 80px;
  background-color: #ff7300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-criada {
  width: auto;
  height: 88px;
}

.imagem-usuario {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #070818;
  margin-right: 15px;
  margin-left: 10px;
}

.nome-usuario {
  margin-right: 10px;
  color: #070818;
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}

.grupo-direito {
  display: flex;
  align-items: center;
  /* Para garantir que todos os itens dentro deste contêiner estejam alinhados verticalmente */
}

.icone-notificacao {
  color: #070818;
  font-size: 24px;
  margin-right: 15px;
}

.progresso {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 500px;
  width: 90%;
  height: 800px;
  background-color: #b5b8b5;
  border-radius: 30px;
}

.progresso h1,
h2 {
  color: black;
  text-align: center;
}

.modal {
  z-index: 1000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-conteudo {
  background-color: #070818;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ffffff;
  width: 50%;
  line-height: 1.6;
}

.modal-conteudo h2 {
  color: #fff;
}

.modal-conteudo a {
  text-decoration: none;
  color: inherit;
}

.fechar-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.menu-hamburguer {
  font-size: 24px;
  cursor: pointer;
  margin-right: 70%;
  display: flex;
}

.barra-lateral {
  height: 156%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: #e9700e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.barra-lateral a {
  padding: 10px 15px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #070818;
  display: block;
  transition: 0.3s;
}

.barra-lateral a:hover {
  color: #f1f1f1;
}

.seminario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; /* Alinha os itens verticalmente */
  gap: 10px;
}

.seminario a img {
  width: 200px; /* Tamanho fixo para a imagem */
}

.progresso-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#barraProgressoContainer {
  width: 80%;
  background-color: #ddd;
}

#barraProgresso {
  height: 60%;
  background-color: #4caf50;
}

#concluirAula,
#concluirAula2,
#concluirAula3 {
  display: inline;
  justify-content: center;
  width: 30%;
  background-color: #28a745;
  color: #fff;
  margin: 15px ;
  padding: 5px;
  
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40%;
}

/*configuraçoes de perfil do usuario:ex nome, foto etc*/

.perfil-usuario {
  position: relative;
  top: 150px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.campo-form {
  margin-bottom: 15px;
}

.campo-form label {
  display: block;
  margin-bottom: 5px;
}

.campo-form input[type="text"],
.campo-form input[type="tel"],
.campo-form input[type="file"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#barraProgressoContainer {
  width: 90%;
  background-color: #ddd;
  display:flex;

}

#barraProgresso,
#barraProgresso2,
#barraProgresso3 {
  height: 20px;
  background-color: #4caf50;
  transition: width 0.7s ease-in-out; /* Animação suave */
}

#rocket {
  width: 70%;
  margin-top: 10px;
  margin-right: 10px;
}

/*tela de modal nomes ao lado direito*/

.info {
  display: flex;
  align-items: center;
}

.info > span {
  margin-right: 10px;
  /* Ajuste conforme necessário */
}

/*tela de aulas salvas*/
.materias {
  margin-top: 5%;
}

.conteudo {
  margin-top: 0;
  width: 100%;
  text-align: center;
}

.conteudo h1 {
  margin-top: 5%;
}

.col {
  width: calc(30% - 50px);
  display: inline-block;
  vertical-align: top;
  margin-right: 80px;
  margin-bottom: 40px;
}

/* tela projetos*/

.area-projeto {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.area-projeto h2 {
  color: #ffffff;
}

.area-projeto button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.area-projeto button:hover {
  background-color: #e0e0e0;
}

/* Estilo para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #070818;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

/* avaliacao das estrelas */
.removerVideo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10;
  width: 150px;
  height: 30px;
  background-color: #e9700e;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.star-rating {
  font-size: 0;
  direction: rtl; /* Inverte a ordem das estrelas */
}

.star-rating .star {
  font-size: 30px;
  cursor: pointer;
  color: #ddd; /* Cor da estrela não selecionada */
}

.star-rating .star.selected {
  color: #ffc107; /* Cor da estrela selecionada */
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star {
  color: #ffc107; /* Cor da estrela ao passar o mouse e estrelas anteriores */
}

/*Questionario ele usa o modal-usuario como base pra formataçao*/

.questionario {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13;
  width: 165px;
  height: 35px;
  background-color: #e9700e;
  padding: 9px 50px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
.questao {
  margin-bottom: 20px;
}

#progressBarContainer {
  width: 100%;
  background-color: #a7a4a4;
  
}

#progressBar {
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.botao-redondo {
  border-radius: 50%;
}

/* Restante do CSS */
/* ... */
@media screen and (max-width: 768px) {
  /* Ajuste o valor 768px conforme necessário */
  .col {
    width: 100%;
    margin-right: 0;
  }
}
.TITULO_EVENTOS{
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  width: 20%;
  display:inline-block;
  margin-left: -2%;
  position: relative;
  color: #070818;
 

}
  
